[submodule "modules/apollo"]
	path = modules/apollo
	url = git@github.com:jeremyrhyde/apollo.git
	branch = main
[submodule "modules/hermes"]
	path = modules/hermes
	url = git@github.com:jeremyrhyde/hermes.git
	branch = main
[submodule "modules/hestia"]
	path = modules/hestia
	url = git@github.com:jeremyrhyde/hestia.git
	branch = main
[submodule "modules/pluto"]
	path = modules/pluto
	url = git@github.com:jeremyrhyde/pluto.git
	branch = main
